<tr>
  <td><%= project.name %></td>

  <% if project.past_due_date? %>
    <td>
      <span class="label label-danger">
        <%= distance_of_time_in_words_to_now(project.due_date) %> 
        ago
      </span>
    </td>
  <% else %>
    <td>
      <span class="label label-success">
        <%= distance_of_time_in_words_to_now(project.due_date) %> 
        from now
      </span>
    </td>
  <% end %>
  <td><%= link_to "Show", project %> | <%= link_to "Delete", project, method: :delete %></td>
</tr>